/* You can add global styles to this file, and also import other style files */
html {
	background: url('https://i.kym-cdn.com/entries/icons/original/000/017/282/wp1874080.png');
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
